html {
    box-sizing: border-box;
    font-size: 24px;
    background: #3f51b5;
}

*,
*:before,
*:after {
    box-sizing: inherit;
 }

main {
    padding: 1rem;
}

.bold {
    font-weight: bold;
}

.box-shadow {
    box-shadow: 1px 1px 5px #3e4360;
}

.font-clear {
    font-size: inherit;
    font-weight: inherit;
}

.display-none {
    display: none;
}

/* Form elements */

fieldset {
    padding: 0;
}

legend {
    margin: 1rem auto;
}

/* https://scotch.io/tutorials/google-material-design-input-boxes-in-css3#update!-no-js-necessary! */

.group { 
    margin:45px 0;
}

.dropdown-select {
    margin: 0;
    display: block;
}

.text-input {
    display: block;
}

.text-input:hover,
.dropdown-select:hover {
    border-bottom: 2px solid #757575;
}

.dropdown-select:active,
.dropdown-select:focus,
.text-input:focus {
    outline: none;
}

.text-input:invalid ~ .error {
    display: block;
}

/* Material Design Underline */
.bar {
    position: relative;
    display: block;
    width: 100%;
}

.bar:before,
.bar:after   {
    content: '';
    height: 2px; 
    width: 0;
    bottom: 1px; 
    position: absolute;
    background: #3F51B5; 
    transition: 0.5s ease all; 
}

.bar:before {
    left: 50%;
}
.bar:after {
    right: 50%; 
}

.text-input:focus ~ .bar:before,
.text-input:focus ~ .bar:after {
  width: 50%;
}

/* Borders */

.border-none {
    border: none;
}

.border-bottom-md {
    border-bottom: 1px solid #757575;
}

/* Text Alignment */

.text-align-center {
    text-align: center;
}

/* Margins and Padding */

.margin-none {
    margin: 0;
}

.margin-center {
    margin: 0 auto;
}

.margin-top-bottom {
    margin: 2rem 0;
}

.padding-top-1 {
    padding-top: 1rem;
}

.padding-top-8 {
    padding-top: 8px;
}

.padding-bottom-1 {
    padding-bottom: 1rem;
}

.padding-top-bottom-8 {
    padding: 8px 0;
}

.padding-1 {
    padding: 1rem;
}

/* Widths and Heights*/

.line-height-125 {
    line-height: 1.25;
}

.width-150 {
    width: 150px;
}

.max-width-300 {
    max-width: 300px;
}

.max-width-875 {
    max-width: 875px;
}

.min-width-25 {
    min-width: 25px;
}

.min-width-88 {
    min-width: 88px;
}

.full-width {
    width: 100%;
}

.min-height-36 {
    min-height: 36px;
}

/* Grid Styles */

.grid {
    display: grid;
}

.grid-gap-20 {
    grid-gap: 20px;
}

.grid-items-center {
    justify-items: center;
}

.grid-columns-200 {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

/* Flexbox */
.flex {
    display: flex;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-space-around {
    justify-content: space-around;
}

.flex-align-center {
    align-items: center;
}

/* Font and Colors */

.primary-background {
    background: #3F51B5;
}

.secondary-background {
    background: #C5CAE9;
}

.error-color {
    color: #7a000b;
}

.label-color {
    color: #444;
}

.primary-text {
    color: #212121;
    font-family: sans-serif;
}

.secondary-text {
    color: #FFFFFF;
    font-family: 'Unica One', sans-serif;
}

.secondary-text a {
    color: #FFFFFF;
    text-decoration: none;
}

.secondary-text a:hover {
    color: #FF4081;
}

.font-size-16 {
    font-size: 16px;
}

.font-size-20 {
    font-size: 20px;
}
